VITE_SUPABASE_URL=https://zjndpzjkhkcdsdppityi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpqbmRwempraGtjZHNkcHBpdHlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI4NDUwODAsImV4cCI6MjA2ODQyMTA4MH0.Jb3Pz25l-iqvnP4pRkwTplsX2knZBhQFZCDq1HDKRP8